{% extends '::base.html.twig' %}
{% block body %}
<div class="page-content">
    <section class="event-detail">
        <h2>Results for this poll</h2>           
        <div class="event-info">                
            <h3>{{ poll.getTitle() }}</h3>
            {{ app.session.flash('notice') }}
            <table>
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for option in poll_options %}
                    <tr>
                        <td>{{ option.title }}</td>
                        <td>{{ option.hits }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url('_poll_show', { 'id': poll.getID() }) }}" >Show</a>
        </div>
    </section>
</div>
{% endblock %}